.navbar {
    background-color: rgb(231, 200, 229);
}

a {
    background-color: rgb(231, 200, 229);
    transition: all 1s ease-in-out;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(216, 139, 211, 0.737);
    border-radius: 10px;

}

.logoHome {
    height: 75px;
    transition: all 1s ease-in-out;

}

.logoHome:hover {
    transform: scale(1.1);

}

.logOut {
    padding: 3px;
    background-color: rgba(165, 42, 42, 0.306);
    border-radius: 3px;
    transition: 1s all ease-in-out;
}