.navbar {
    background-color: rgb(231, 200, 229);
}

a {
    background-color: rgb(231, 200, 229);
    transition: all 1s ease-in-out;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(216, 139, 211, 0.737);
    border-radius: 10px;

}

.logoHome {
    height: 50px;
    transition: all 1s ease-in-out;

}

.logoHome:hover {
    transform: scale(1.1);

}


.LogOut {
    padding: 7.5px;
    background-color: rgba(172, 27, 27, 0.477);
    border-radius: 7.5px;
    color: white;
    font-weight: bold;
}

.LogOut:hover{
    transition: 1s all ease-in-out;
    transform: scale(1.2);
    background-color: brown;
    font-weight: bold;
}